@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", Arial;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer theme {
  :root {
    --color-primary: #eae6dd;
    --color-secondary: #ad7345;
  }
}

@layer utilities {
  .cont {
    @apply mx-auto px-5;
    max-width: 100%;
  }
}

section {
  @apply min-h-screen w-full;
  overflow-x: hidden;
}

.whychoose {
  @apply bg-stone-50;
}

.img-cont {
  height: 50vh;
}

@media (min-width: 640px) {
  .img-cont {
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .img-cont {
    height: 80vh;
  }
}

.img-cont img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
