@import "tailwindcss";

* {
}

body {
  font-family: "Quicksand", Arial;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-primary);
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

@layer theme {
  :root {
    --color-primary: #eae6dd;
    --color-secondary: #ad7345;
  }
}
@layer utilities {
  .cont {
    @apply mx-auto px-5;
  }
}

section {
  @apply min-h-screen w-screen;
}

.whychoose {
  @apply bg-stone-50;
}

.img-cont {
  height: 80vh !important;

  img {
    object-fit: cover;
    object-position: center;
  }
}
